from trusted_content_resolver_client.resolve_service_client import resolve_trust_list

if __name__ == '__main__':
    print(resolve_trust_list(
        trust_framework_pointers={{ trust_framework_pointers }},
        did="{{ did }}"
    ))
